.fantasy-container {
    background-color: #21212f;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    border-top: 3px solid #5b488b;
    /* box-shadow: 0 0 5px #999; */
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;

}

.fantasy-container p {
    text-shadow: 0 0 3px #999;
    margin: 0px;
    font-size: 1rem;
}

h1 {
    border-top: 3px solid #5b488b;
    background-color: #21212f;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-size: 2rem;
    /* text-shadow: 2px 2px 10px #666; */
}

.st-cp,
.st-co {
    background-color: #2b2a3a;
    border-top: 3px solid #5b488b;
}

.st-cm,
.st-cl,
.st-ck,
.st-cj {
    border-color: #5b488b;
}

/* @media (max-width:600px) {
    img {
        display: none;
    }
} */